body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url("images.png");
}

.container {
  
  
   margin-top: 100px;
   margin-left: 300px;
margin-right: 200px;
}


#input {
    text-align: right;
    height: 20px;
    height: 20px;
    margin-top: 10px;
    padding-top: 20px;
    font-size: 30px;
    color: rgb(9, 117, 123);
    background-color: rgba(210, 141, 141, 0.367);
    border-width: 0;
}
#output {
    text-align: right;
    height: 40px;
    margin-top: 10px;
   
    padding-top: 20px;
    font-size: 30px;
    color: rgb(11, 18, 35);
    background-color: rgba(210, 141, 141, 0.367);
    border-width: 0;
}
#keyboard {
    margin-top: 60px;
   background-color: rgba(223, 117, 117, 0.199);
   box-shadow: 10px 0 5px 10px rgba(56, 4, 4, 0.177);
   margin-top: 0;
}

.num  {
    width: 50px;
    height: 50px;
    margin: 15px;
    font-size: 25px;
    border-width: 0;
    border-radius: 50%;
    background-color: rgba(216, 124, 75, 0.671);
    color: aqua;

}
.del {
    width: 50px;
    height: 50px;
    margin: 15px;
    font-size: 25px;
    border-width: 0;
    border-radius: 50%;
    background-color: rgba(135, 69, 34, 0.671);
    color: aqua;
    cursor: pointer;
}


.equal{
    width: 50px;
    height: 50px;
    margin: 15px;
    font-size: 25px;
    border-width: 0;
    border-radius: 50%;
    background-color: rgba(135, 69, 34, 0.671);
    color: aqua;
    cursor: pointer;
}


.empty{
    width: 50px;
    height: 50px;
    margin: 15px;
    font-size: 25px;
    border-width: 0;
    border-radius: 50%;
    background-color: rgba(241, 139, 83, 0);
    color: aqua;
}

.ope{
    width: 50px;
    height: 50px;
    margin: 15px;
    font-size: 25px;
    border-width: 0;
    border-radius: 50%;
    background-color: rgba(135, 69, 34, 0.671);
    color: aqua;
    cursor: pointer;
}
.num  {
    cursor: pointer;
}
.clearAll {
    width: 50px;
    height: 50px;
    margin: 15px;
    font-size: 25px;
    border-width: 0;
    border-radius: 50%;
    background-color: rgba(135, 69, 34, 0.671);
    color: aqua;
    cursor: pointer;
}
